@font-face {
    font-family: "Roboto Mono";
    src: url(./fonts/RobotoMono-Thin.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(./fonts/RobotoMono-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    font-family: "Roboto Mono";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    width: 100vw;
    height: 100vh;
    background: rgb(85, 82, 129);
    background: linear-gradient(
        90deg,
        rgba(85, 82, 129, 1) 0%,
        rgba(237, 0, 255, 1) 100%
    );
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Bold";
}

.container {
  text-align: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
